@tailwind base;
@tailwind components;


.btn {
    @apply cursor-pointer inline-flex justify-center py-1 px-1 border border-transparent shadow-sm  font-medium rounded-sm 
    dark:text-gray-300 dark:bg-gray-600 dark:hover:bg-gray-500 dark:focus:ring-gray-500 dark:drop-shadow-sm
     bg-gray-300 hover:bg-gray-400 hover:text-gray-200 
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:outline-none;
}

.btn-nonrounded {
    @apply cursor-pointer inline-flex justify-center py-1 px-1 border border-transparent shadow-sm  font-medium 
    dark:text-white dark:bg-gray-500 dark:hover:bg-gray-700 dark:focus:ring-gray-500
    bg-gray-300 hover:bg-gray-400 hover:text-gray-200
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:outline-none;
}

.btn i{
    font-size: 15px;
}

.btn-mini{
  @apply  cursor-pointer text-xs  justify-center  border border-transparent shadow-sm 
  dark:text-white dark:bg-gray-500 dark:hover:bg-gray-700 dark:focus:ring-gray-500
  bg-gray-300 hover:bg-gray-400 hover:text-gray-200
  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:outline-none;
}


.mini-edit{
    @apply w-12 px-1 py-1 rounded-sm focus:outline-none;
}


.mini-edit-nonrounded {
    @apply w-12 px-1 py-1 focus:outline-none;
}

.chart-mini-edit{
  @apply  w-16 px-1 py-1 rounded-md  border-2 border-gray-300 bg-gray-400 dark:border-gray-600 m-0 bg-transparent focus:outline-none;
}


/*Hide number arrow*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
  }

@tailwind utilities; 