services:
  client:
    build: 
      context: ./client
      dockerfile: ./Dockerfile
    image: pt-client
    ports:
      - 8080:8080

  server:
    build:
      context: ./server
      dockerfile: ./Dockerfile
    image: pt-server
    ports:
      - 9090:9090
    env_file:
      - ./server/.env